@import './../colors.scss';
@import './detection-group.style.scss';

.detection-deck {
  margin-left: 15px;
  width: 100%;
  height: 180px;
  background-color: $blue3;
  overflow-x: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  overflow: visible;

  .photo-spring {
    position: relative;
    margin: .5rem;
    height: $tile-height;
    width: $tile-width;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      transition: all .6s cubic-bezier(.71, .05, .09, .91);
    }

    &:hover {
      $elements: 4;
      @for $i from 0 to $elements {
        img:nth-of-type(#{$i + 1}) {
          margin-top: -($i * $tile-height);
        }
      }
    }
  }
}