$tile-height: 125px; 
$tile-width: 125px;

.detection-group {
  height: 100% !important;
  padding: 0 .1rem 0 .1rem !important;
  display: flex;
  flex-flow: column;


  .detection-tile {
    margin-top: 1rem;
    align-self: center;
    position: relative;
    height: $tile-height;
    width: $tile-width;
  }
}